<div
  class="modal-overlap"
  role="dialog"
  aria-modal="true"
  aria-labelledby="registerTitle"
  tabindex="0"
>
  <div class="content">
    <header>
      <h2 id="registerTitle">Perfil</h2>
    </header>
    <form novalidate>
      <div class="parte1">
        <label for="nome">Nome completo:</label>
        <input
          id="nome"
          type="text"
          required
          name="nome"
          placeholder=""
          [(ngModel)]="academic.name"
          disabled
        />

        <label for="cpf">CPF:</label>
        <input
          id="cpf"
          type="text"
          required
          name="cpf"
          placeholder=""
          [(ngModel)]="academic.cpf"
          disabled
        />
        <label for="nasc">Data de Nascimento:</label>
        <input
          id="nasc"
          type="date"
          required
          name="nasc"
          placeholder=""
          [(ngModel)]="academic.dateOfBirth"
          disabled
        />
        <label for="gender">Gênero:</label>
        <input
          id="gender"
          type="text"
          required
          name="gender"
          placeholder=""
          [(ngModel)]="academic.gender"
          disabled
        />
        <label for="raca">Raça:</label>
        <input
          id="raca"
          type="text"
          required
          name="raca"
          placeholder=""
          [(ngModel)]="academic.race"
          disabled
        />
        <label for="pwd">Pessoa com deficiência?</label>
        <input
          id="pwd"
          type="boolean"
          required
          name="pwd"
          placeholder=""
          [(ngModel)]="academic.pwd"
          disabled
        />
        <label for="disablity">Se sim, informe qual:</label>
        <input
          id="disablity"
          type="text"
          required
          name="disablity"
          placeholder=""
          [(ngModel)]="academic.disability"
          disabled
        />
        <label for="cel">Telefone:</label>
        <input
          id="cel"
          type="text"
          required
          name="cel"
          placeholder=""
          [(ngModel)]="academic.cellphone"
          disabled
          style="margin-bottom: 50px"
        />
      </div>

      <div class="parte2">
        <label for="course">Curso:</label>
        <input
          id="course"
          type="text"
          required
          name="course"
          placeholder=""
          [(ngModel)]="academic.course"
          disabled
        />
        <label for="inst">Instituição de ensino:</label>
        <input
          id="inst"
          type="text"
          required
          name="inst"
          placeholder=""
          [(ngModel)]="academic.educationalInstitution"
          disabled
        />
        <label for="period">Período:</label>
        <input
          id="period"
          type="text"
          required
          name="period"
          placeholder=""
          [(ngModel)]="academic.period"
          disabled
        />
        <label for="turn">Turno:</label>
        <input
          id="turn"
          type="text"
          required
          name="turn"
          placeholder=""
          [(ngModel)]="academic.turn"
          disabled
        />
        <label for="prev">Previsão de conclusão de curso:</label>
        <input
          id="prev"
          type="date"
          required
          name="prev"
          placeholder=""
          [(ngModel)]="academic.conclusion"
          disabled
        />

        <label for="email">Email:</label>
        <input
          id="email"
          type="email"
          required
          name="email"
          placeholder=""
          [(ngModel)]="academic.email"
          disabled
        />
        <label for="senha">Senha:</label>
        <input
          id="senha"
          type="password"
          required
          name="senha"
          placeholder=""
          [(ngModel)]="academic.password"
          disabled
        />
        <button type="submit">Editar Perfil</button>
      </div>
    </form>
  </div>
</div>
