<div
  class="modal-container"
  role="dialog"
  aria-modal="true"
  aria-labelledby="loginTitle"
  tabindex="0"
>
  <div class="modal">
    <header>
      <h2 id="loginTitle">Login</h2>
    </header>
    <form (submit)="login($event)" novalidate>
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        required
        [(ngModel)]="email"
        name="email"
        placeholder="seuemail@exemplo.com"
        autocomplete="email"
      />
      <label for="password">Senha</label>
      <input
        id="password"
        type="password"
        required
        [(ngModel)]="password"
        name="password"
        placeholder="********"
        autocomplete="current-password"
      />
      <button type="submit">Entrar</button>
    </form>
  </div>
</div>
