<div
  class="modal-overlay"
  role="dialog"
  aria-modal="true"
  aria-labelledby="registerTitle"
  tabindex="0"
>
  <div class="modal">
    <header>
      <h2 id="registerTitle">Cadastro</h2>
      <button class="btn" (click)="goBack()">Voltar</button>
    </header>
    <form (submit)="onSubmit($event)" novalidate>
      <label for="name">Nome Completo</label>
      <input
        id="name"
        type="text"
        required
        [(ngModel)]="name"
        name="name"
        placeholder="Seu nome completo"
      />

      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        required
        [(ngModel)]="email"
        name="email"
        placeholder="seuemail@exemplo.com"
      />

      <label for="password">Senha</label>
      <input
        id="password"
        type="password"
        required
        [(ngModel)]="password"
        name="password"
        placeholder="Crie sua senha"
      />

      <label for="confirmPassword">Confirmar Senha</label>
      <input
        id="confirmPassword"
        type="password"
        required
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        placeholder="Confirme sua senha"
      />

      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>
