<div
  class="modal-overlay"
  role="dialog"
  aria-modal="true"
  aria-labelledby="registerTitle"
  tabindex="0"
>
  <div class="modal">
    <header>
      <h2 id="registerTitle">Cadastro</h2>
      <button class="btn" (click)="goBack()">Voltar</button>
    </header>
    <form (submit)="onSubmit($event)" novalidate>
      <label for="razao-social">Razão Social:</label>
      <input
        id="razao-social"
        type="text"
        required
        [(ngModel)]="enterprise.companyName"
        name="razao-social"
        placeholder=""
      />

      <label for="nomeFantasia">Nome Fantasia:</label>
      <input
        id="nomeFantasia"
        type="text"
        required
        [(ngModel)]="enterprise.tradeName"
        name="nomeFantasia"
        placeholder=""
      />

      <label for="cnpj">CNPJ:</label>
      <input
        id="cnpj"
        type="text"
        required
        [(ngModel)]="enterprise.cnpj"
        name="cnpj"
        placeholder=""
      />
      <label for="ramo">Ramo de Atividade:</label>
      <input
        id="ramo"
        type="text"
        required
        [(ngModel)]="enterprise.lineOfBusiness"
        name="ramo"
        placeholder=""
      />
      <label for="numberOfEmployees">Número de funcionários:</label>
      <input
        id="numberOfEmployees"
        type="number"
        required
        [(ngModel)]="enterprise.numberOfEmployees"
        name="numberOfEmployees"
        placeholder=""
      />
      <label for="porte">Porte da Empresa:</label>
      <input
        id="porte"
        type="text"
        required
        [(ngModel)]="enterprise.companySize"
        name="porte"
        placeholder=""
      />

      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        required
        [(ngModel)]="enterprise.email"
        name="email"
        placeholder=""
      />
      <label for="senha">Senha:</label>
      <input
        id="senha"
        type="password"
        required
        [(ngModel)]="enterprise.password"
        name="senha"
        placeholder="Digite sua senha"
      />
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>
