.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  gap: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.job-card {
  border: 3px solid transparent;
  color: rgb(65, 128, 243);
  border-collapse: collapse;
  border-radius: 15px;
  width: 295px;
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
}

.job-card p,
.job-card h3,
.job-card h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.job-card:hover {
  border-color: #e7d25a;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: rgb(65, 128, 243);
}

a:visited {
  color: inherit;
}
