/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  border: 0;
}

.modal {
  background: white;
  color: #1a1a1a;
  padding: 30px 35px;
  border-radius: 14px;
  width: auto;
  box-shadow: 0 8px 20px rgb(0 0 0 / 0.25);
  z-index: 1051;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
}
